@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">@Model.League.Name</h1>
  <img src="~/image/nfl/nfl.png" alt="NFL Logo" />
</div>
